/* Global styles */

html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #050b2e, #230627);
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #050b2e, #230627);
}


@media(max-width:768px) {}

@media (min-width:769px) and (max-width:992px) {}

@media (min-width:993px) {}